.App {
  text-align: center;
}

input {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button {
  margin: 10px;
  padding: 5px;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #ea8b1f;
}

ul {
  display: grid;
  place-items: center;
}

li {
  background-color: #2bdc1f;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  list-style: none;
  align-items: center;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  font-family: monospace;
  font-size: 16px;
  margin-bottom: 10px;
}
li:hover {
  background-color: #e9ecef;
  cursor: pointer;
}
